@{
    ViewBag.Title = "Home Page";
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-dismissible alert-info text-center col-md-5 col-md-offset-1" style="position: absolute; z-index: 1000; margin-top: 1%;">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>@ViewBag.message</h4>
    </div>
}

<div class="jumbotron">
    <h1>InstantAngaj</h1>
    <br />
    <br />
    <h4>InstantAngaj este o platforma noua destinata atat oamenilor care sunt in cautarea unui job cat si angajatorilor ce doresc suplimentarea posturilor disponibile</h4>
</div>

<div class="row">
    <div class="col-md-12">
        <img src="/Content/Images/home.png" style="max-width: 100%;" />
    </div>
</div>